<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="."  >COMPANY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(role){
          <li class="nav-item">
            <a class="nav-link " routerLink="allusers" >Users</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="chat" >Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="myinfo" >Profile</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </span>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>



<!-- 
  <div class=" m-3">
    <div class="d-flex justify-content-end align-items-center">
      
    </div>
  </div>

   <div class="d-flex justify-content-around align-items-center vh-100 ">
        @if(role){
            <div class=" container d-flex p-3 justify-content-center align-items-center h-50 w-25" (click)="allUsers()"><p>USERS</p></div>
        }
        
        <div class=" container d-flex p-3   justify-content-center align-items-center h-50 w-25" (click)="chat()"><p>CHATHUB</p></div>
        <div class="container d-flex p-3  justify-content-center align-items-center h-50 w-25" (click)="myInfo()"><p>PROFILE</p></div>
   </div> -->
