.container{
    margin-top: 5%;
    width: 30%;
 
}

/* .main{
    height: 100vh;
    background-image: url(../../../public/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
} */